<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="First Name" formControlName="nombre" id="nombre">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="apellido" id="apellido">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" id="email">        
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" id="password"> 
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Create User</button>
    <p style="text-align: center;">
        Already an user?
        <a mat-button color="primary" [routerLink]="['/signin']">LogIn</a>
    </p>
</form>