<mat-tab-group>
    <mat-tab label="Recent">
        <app-question-list sort='-createdAt'></app-question-list>
    </mat-tab>
    <mat-tab label="Alphabetic">
        <app-question-list sort='title'></app-question-list>
    </mat-tab>
    <mat-tab label="Trend">
        <app-question-list sort='-answers.length'></app-question-list>
    </mat-tab>
</mat-tab-group>      
<button mat-fab class="add-question" color="accent" [routerLink]="['questions/new']">
    <mat-icon>
      add
    </mat-icon>
</button>